extends layout

block content
  nav.navbar
    .icon
      img.popcorn(src="../images/food.svg")
    .navlinks
      a(href="/genre") Genre
      a(href="/director") Director
      a(href="/decade") Decade
      a(href="/games") Games
      a(href="/tutorial") Tutorial
    .searchbar
      form    
        input.searchinput(type="text")
      img.searchsvg(src="../images/magnifier.svg")
    .login
      a(href="/login") Login / Register
  .sidenav
    .sidebar 1
    section.featuredfilm
      img.backgroundimage(src="../images/Silence of the lambs.jpg" style="height: 100%; width: 100%")
  footer.myfooter
    .footerbackground