body {
  margin: 0;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr;
  grid-template-rows: 15vh;
  background-color: #54D0B9
}
.popcorn {
  height: 75%; 
  width: 75%;
  margin-top: 10px;
  margin-left: 10px;
}
.icon {
  grid-column: 1;
  grid-row: 1;
}
.navlinks {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  text-align: center;
  line-height: 15vh;
}
.navlinks > a{
  font-family: "Helvetica-light";
  font-size: 2vw;
  text-decoration: none;
  color: white;
}
.navlinks > a:hover{
  color: black;
}
.searchbar {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 100%;
  text-align: center;
  
}
.searchinput {
  grid-row: 1;
  grid-column: 1;
  border-radius: 30px;
  width: 12vw;
  height: 2vh;
  margin-top: 6vh;
}
textarea:focus, input:focus{
  outline: none;
}
.searchsvg {
  grid-column: 2;
  grid-row: 1;
  height: 50%;
  width: 50%;
  margin-top: 4vh;
}
.login {
  text-align: center;
}
.login > a{
  color: white;
  font-family: "Helvetica-light";
  font-size: 2vw;
}
.background {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 85vh;
}